<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="top-logo">
        <a href="{{{or siteRootPath site.url}}}" class="klayr-logo"></a>
        <a href="{{{or siteRootPath site.url}}}" class="docs-logo"></a>
      </div>
      <!--<a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>-->
      {{#if env.ALGOLIA_API_KEY}}
        <div id="docsearch" class="navbar-menu search-box hide-for-print">
          <!--<input id="search-input-toolbar" type="text" placeholder="Search me ...">-->
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">APIs</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{{or siteRootPath site.url}}}/api/klayr-node-rpc.html">Klayr node RPC API</a>
            <a class="navbar-item" href="{{{or siteRootPath site.url}}}/api/klayr-service-http.html">Klayr Service HTTP
              API</a>
            <a class="navbar-item" href="{{{or siteRootPath site.url}}}/api/klayr-service-rpc.html">Klayr Service RPC
              API</a>
            <a class="navbar-item" href="{{{or siteRootPath site.url}}}/api/klayr-service-pubsub.html">Klayr Service
              Pub/Sub API</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Explorers</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://klayr.observer/" target="_blank">Klayr Observer</a>
            <a class="navbar-item" href="https://liskscan.com/" target="_blank">LiskScan</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{{or siteRootPath site.url}}}/klayr-sdk/">Klayr SDK</a>
            <a class="navbar-item" href="{{{or siteRootPath site.url}}}/klayr-service/">Klayr Service</a>
            <a class="navbar-item" href="{{{or siteRootPath site.url}}}/klayr-core/">Klayr Core</a>
            <a class="navbar-item" href="https://klayr.xyz/wallet" target="_blank">Klayr Wallets</a>
          </div>
        </div>
        <button onclick="switch_style('toggle')" id="theme-toggle" class="theme-toggle navbar-item"></button>
        <!-- <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div> -->
      </div>
    </div>
  </nav>
</header>
