<header class="header">
  <nav class="navbar">
      <div class="navbar-content">
        <div class="navbar-brand">
          <a href="https://klayr.com/docs" title="Klayr.com/docs" class="klayr-logo"></a>
            <span  class="nav-brand__name-area">
            {{#if (eq page.component.name "klayr-core") }}
              <strong class="nav-brand__name-area__title">Core</strong>
            {{else if (eq page.component.name "klayr-service") }}
              <strong class="nav-brand__name-area__title">Service</strong>
            {{else}}
              <strong class="nav-brand__name-area__title">SDK</strong>
            {{/if}}
            </span>
          {{> top-versions}}
          <button class="navbar-burger" data-target="topbar-nav">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="">Documentations</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{site.url}}/klayr-sdk/">Klayr SDK</a>
                <a class="navbar-item" href="{{site.url}}/klayr-service/">Klayr Service</a>
                <a class="navbar-item" href="{{site.url}}/klayr-core/">Klayr Core</a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="">Resources</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href=""><strong>Klayr Service API</strong></a>
                <a class="navbar-item" href="{{site.url}}/klayr-service/references/api.html">Mainnet</a>
                <a class="navbar-item" href="{{site.url}}/klayr-service/references/api-testnet.html">Testnet</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href=""><strong>Klayr Network Explorer</strong></a>
                <a class="navbar-item" target="_blank" href="https://klayr.observer/">Klayr Observer<i class="icofont-external-link"></i></a>
                <a class="navbar-item" target="_blank" href="https://liskscan.io/">LISKscan<i class="icofont-external-link"></i></a>
              </div>
            </div>
          </div>
          {{#if env.ALGOLIA_API_KEY}}
            <div class="navbar-menu search-box hide-for-print">
              <input id="search-input" type="text" placeholder="Search">
            </div>
          {{/if}}
        </div>
        <div class="navbar-item navbar-right">
<!--
          <a href="https://klayr.chat" title="Klayr Chat" target="_blank" class="footer__icon icon-discord-2x"></a>
-->
          <a href="https://github.com/KlayrHQ" title="Klayr GitHub" target="_blank" class="footer__icon icon-github-2x"></a>
          <span class="control">
            <a class="button is-primary" target="_blank" title="Klayr Dev Forum" href="https://dev.klayr.com/">Get help</a>
          </span>
        </div>
      </div>
  </nav>
</header>
